{% extends "userauth/components/base.html" %}

{% block content %}
 <div class="container">

      <!-- Jumbotron Header -->
     {% if user.is_authenticated %}


        <header class="jumbotron my-4">
            <h1 class="display-3">A Warm Welcome!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <a href="#" class="btn btn-outline-info btn-lg">View Profile</a>
        </header>

         {% else %}

         <header class="jumbotron my-4">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="{% url 'register' %}" class="btn btn-outline-info btn-lg">Register</a>
         <a href="{% url 'login' %}" class="btn btn-outline-success btn-lg">Log in</a>
      </header>


     {% endif %}

      <!-- Page Features -->
      <!-- /.row -->

    </div>
{% endblock %}